<form class='w-[450px] h-150 rounded-br-2xl rounded-tr-2xl glass-form flex flex-col justify-center'>
  <h2 class='text-center mt-5 mb-3 font-bold text-3xl text-white'>Welcome back</h2>
  <p class='text-center text-black mb-4'>Login in to your task hub account</p>

  <div class='flex flex-col gap-1'>
    <label class='ml-2'>Email</label>
    <input type="text" class='mb-5' />
  </div>

  <div class='flex flex-col gap-1'>
    <label class='ml-2'>Password</label>
    <input type="password" class='mb-5'/>
  </div>

  <button type='button' class='bg-[var(--primary)] text-white rounded-xl px-3 py-2 cursor-pointer hover:shadow-lg transition-all duration-300 hover:scale-105'
          (click)='login()'>Save
  </button>
  <div class="flex items-center gap-1 text-black mt-5 justify-end">
    <p>Don't have an account?</p>
    <a href="#" class='underline'>Register</a>
  </div>
</form>
