<div class="px-7 py-1">
  <div class='grid grid-cols-[330px_minmax(0,1fr)] gap-6 mb-4'>
    <div>
      <app-card
        color="bg-gradient-to-br from-blue-200 via-sky-400 to-blue-500"
        title="Active projects"
        img="/png/projects/active-projects.svg"
        info="92"
      />
      <app-card
        color="bg-gradient-to-br from-violet-200 via-purple-300 to-purple-500"
        title="On Going Project"
        img="/png/projects/ongoing-projects.svg"
        info="35"
      />
      <app-card
        color="bg-gradient-to-br from-yellow-100 via-yellow-300 to-yellow-400"
        title="Working hours"
        img="/png/projects/working-hours.svg"
        info="19h 9m"
      />
    </div>
    <div>
      <app-statistic/>
    </div>
  </div>
  <div class='mb-10'>
    <app-projects />
  </div>
  <div class='flex items-center justify-between  mb-5'>
    <h2 class='font-medium text-2xl text-[var(--text)]'>Last tasks <span
      class='text-gray-500 text-2xl'>({{ filteredTasks.length }})</span></h2>
    <div class='flex items-center gap-4'>
      <app-filter (selectedTabChange)='changeFilter($event)'/>
      <app-sort (onSortChange)='sortChange($event)'/>
    </div>
  </div>
  <div class='grid grid-cols-3 gap-6'>
    @if (filteredTasks.length === 0) {
      <p>Not found</p>
    } @else {
      @for (task of filteredTasks; track task.id) {
        <app-last-task
          [task]='task'
          (onEdit)="showDialog($event, 'editTask')"
          (onAdd)="showDialog($event, 'addTask')"
        />
      }
    }
  </div>
  <div>
    <app-timeline/>
  </div>
</div>

@if (visibleEditTaskModal) {
  <app-edit-task-form
    [visible]='visibleEditTaskModal'
    [task]='selectedTask'
    (saveTask)="updateTask($event)"
    (cancel)='visibleEditTaskModal = false'
  />
}

@if (visibleAddTaskModal) {
  <app-add-subtasks-form
    [visible]='visibleAddTaskModal'
    [task]='selectedTask'
    (saveTask)="updateTask($event)"
    (cancel)='visibleAddTaskModal = false'
  />
}
