<div class='h-170 rounded-2xl'>
  <div class='flex items-center' [@flipAnimation]="formType">
    <img src='/png/chat.png' class='h-170 rounded-bl-2xl rounded-tl-2xl md:hidden' alt=''>
    <div class="form-container">
      <ng-container [ngSwitch]="formType">
        <app-login-form
          *ngSwitchCase="'login'"
          (changeMode)='changeType()'
        />
        <app-register-form
          *ngSwitchCase="'register'"
          (changeMode)='changeType()'
        />
      </ng-container>
    </div>
  </div>
</div>
