<p-dialog
  [(visible)]="visible"
  [dismissableMask]="true"
  [modal]="true"
  [style]="{ width: '30rem' }"
  (onHide)="onDialogClose()"
>
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <lucide-icon [img]='Pencil' size='20' strokeWidth='2.5'/>
      <span class="font-bold text-xl whitespace-nowrap">Edit task</span>
    </div>
  </ng-template>
  <form [formGroup]='form'>
    <div class="flex flex-col relative">
      <label for="title" class="text-sm font-medium text-slate-700">Title</label>
      <input type="text" id="title" pInputText formControlName="title"
             class="{{ form.get('title')?.invalid && form.get('title')?.touched ? 'ng-invalid ng-dirty' : '' }}"
      />
      @if (form.get('title')?.errors?.['required']) {
        <div class='absolute mt-1 ml-2'>
          <p-message severity="error" size="small" variant="simple">Title is required</p-message>
        </div>
      }
      <div class="h-5"></div>
    </div>
    <div class="flex flex-col relative">
      <label class="text-sm font-medium text-slate-700">Due date</label>
      <p-datepicker
        formControlName="dueDate"
        [showIcon]='true'
        appendTo="body"
        dateFormat="dd-mm-yy"
        class="{{ (form.get('dueDate')?.invalid && form.get('dueDate')?.touched) ? 'ng-invalid ng-dirty' : '' }}"
      ></p-datepicker>
      @if (form.get('dueDate')?.errors?.['required']) {
        <div class='absolute mt-1 ml-2'>
          <p-message severity="error" size="small" variant="simple">Data is required.</p-message>
        </div>
      }
      @if (form.get('dueDate')?.errors?.['pastDate']) {
        <div class='absolute mt-1 ml-2'>
          <p-message severity="error" size="small" variant="simple">Date can't be at the past</p-message>
        </div>
      }
      <div class="h-5"></div>
    </div>

    <label class="text-sm font-medium text-slate-700">
      Current icon:
    </label>
    <div
      class='w-10 h-10 group flex items-center justify-center relative p-3 bg-white border-2 border-gray-200 rounded-full shadow-md hover:shadow-lg transition-all duration-300 cursor-pointer hover:border-purple-400 hover:bg-purple-50'
      (click)='op.toggle($event)'
    >
      <lucide-icon [img]='selectedIcon' size='18'
                   class="text-[var(--primary)] group-hover:text-purple-600 transition-colors"/>
    </div>
  </form>
  <ng-template #footer>
    <button class='bg-[var(--primary)] text-white rounded-lg px-3 py-2 cursor-pointer hover:shadow-lg transition-all duration-300 hover:scale-110'
            (click)='save()'>Save
    </button>
  </ng-template>
</p-dialog>


<p-popover #op>
  <div class="w-100 h-70 overflow-y-auto border border-gray-200 rounded shadow bg-[var(--foreground)] p-1">
    <app-icon-picker (iconChange)="iconChange($event)"/>
  </div>
</p-popover>
