<div class='mt-5 bg-[var(--foreground)] rounded-2xl px-6 py-5 relative h-80'>
  <div class='flex items-center justify-between'>
    <h2 class='font-bold text-xl'>Today Tasks</h2>
    <div class="card flex justify-center">
      <p-avatar-group>
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="large" shape="circle" />
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" size="large" shape="circle" />
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" size="large" shape="circle" />
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png" size="large" shape="circle" />
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png" size="large" shape="circle" />
        <p-avatar label="+6" shape="circle" size="large" [style]="{ 'background-color': '#dfc8fc', color: '#fff' }" />
      </p-avatar-group>
    </div>
  </div>
  <div class='w-full mt-6'>
    <div class='flex items-center justify-evenly'>
      <div class="time-label text-gray-500">9 am</div>
      <div class="time-label text-gray-500">10 am</div>
      <div class="time-label text-gray-500">11 am</div>
      <div class="time-label text-gray-500">12 pm</div>
      <div class="time-label text-gray-500">1 pm</div>
      <div class="time-label text-gray-500">2 pm</div>
      <div class="time-label text-gray-500">3 pm</div>
      <div class="time-label text-gray-500">4 pm</div>
      <div class="time-label text-gray-500">5 pm</div>
    </div>
  </div>
  <div class="relative mt-6 h-40">
    <div class="current-time-indicator"></div>
    <div class='absolute z-50 top-5 left-20'>
      <app-timeline-card />
    </div>
  </div>
</div>
