<div class="grid grid-cols-[280px_1fr_380px] min-h-dvh">
  <app-sidebar />
  <div class='bg-[var(--background)] block min-h-dvh'>
    <header class='flex items-center justify-between p-7'>
      <h1 class='font-bold text-4xl text-[var(--text)]'>{{pageTitle}}</h1>
      <div class='flex items-center gap-3'>
        <app-search />
        <app-notify />
        <app-theme-toggle />
      </div>
    </header>
    <main class='z-[500]'>
      <router-outlet></router-outlet>
    </main>
  </div>
  <app-chat />
</div>
