<div class="bg-purple-100 rounded-4xl py-2 px-3 mb-4 space-x-2 text-black">
  <button
    class="cursor-pointer text-sm py-1 px-3 rounded-4xl transition-all duration-200 ease-in-out"
    [ngClass]="{
      'bg-white text-gray-800 shadow-md scale-105': selectedTab === 'All',
      'hover:bg-white hover:scale-100': selectedTab !== 'All'
    }"
    (click)="changeTab('All')"
  >
    <div class='flex items-center gap-2'>
      <i class="pi pi-filter"></i>
      <span>All</span>
    </div>
  </button>
    <button
      class="cursor-pointer text-sm py-1 px-3 rounded-4xl transition-all duration-200 ease-in-out"
      [ngClass]="{
      'bg-white text-gray-800 shadow-md scale-105': selectedTab === 'Completed',
      'hover:bg-white hover:scale-100': selectedTab !== 'Completed'
    }"
      (click)="changeTab('Completed')"
    >
      <div class='flex items-center gap-2'>
        <i class="pi pi-check"></i>
        <span>Completed</span>
      </div>
    </button>

  <button
    class="cursor-pointer text-sm py-1 px-3 rounded-4xl transition-all duration-200 ease-in-out"
    [ngClass]="{
      'bg-white text-gray-800 shadow-md scale-105': selectedTab === 'In Progress',
      'hover:bg-white hover:scale-100': selectedTab !== 'In Progress'
    }"
    (click)="changeTab('In Progress')"
  >
    <div class='flex items-center gap-2'>
      <i class="pi pi-spinner-dotted"></i>
      <span>In Progress</span>
    </div>
  </button>
  <button
    class="cursor-pointer text-sm py-1 px-3 rounded-4xl transition-all duration-200 ease-in-out"
    [ngClass]="{
      'bg-white text-gray-800 shadow-md scale-105': selectedTab === 'Not Started',
      'hover:bg-white hover:scale-100': selectedTab !== 'Not Started'
    }"
    (click)="changeTab('Not Started')"
  >
    <div class='flex items-center gap-2'>
      <i class="pi pi-times"></i>
      <span>Not started</span>
    </div>
  </button>
</div>
