<div class="p-7">
  <div class="grid grid-cols-3 gap-6 mb-8">
    <div class="max-w-full">
      <app-card
        color="bg-[var(--purple-light)]"
        title="Active projects"
        img="/png/projects/active-projects.svg"
        info="92"
      />
      <app-card
        color="bg-[var(--yellow)]"
        title="On Going Project"
        img="/png/projects/ongoing-projects.svg"
        info="35"
      />
      <app-card
        color="bg-[var(--pink)]"
        title="Working hours"
        img="/png/projects/working-hours.svg"
        info="19h 9m"
      />
    </div>
    <div class='col-span-2'>
      <app-statistic />
    </div>
  </div>

  <h2 class='mb-4 font-medium text-2xl text-[var(--text)]'>Last tasks <span class='text-gray-500 text-2xl'>({{tasks.length}})</span></h2>
  <div class='grid grid-cols-3 gap-6'>
    @for (task of tasks; track task.id) {
      <app-last-task
        [id]='task.id'
        [title]='task.title'
        [status]='task.status'
        [dueDate]='task.dueDate'
        [users]='task.users'
        [progress]='task.progress'
      />
    }
  </div>
</div>
