<div class="px-7 py-1">
  <div class="grid grid-cols-3 gap-6 mb-8">
    <div class="max-w-full">
      <app-card
        color="bg-[var(--purple-light)]"
        title="Active projects"
        img="/png/projects/active-projects.svg"
        info="92"
      />
      <app-card
        color="bg-[var(--yellow)]"
        title="On Going Project"
        img="/png/projects/ongoing-projects.svg"
        info="35"
      />
      <app-card
        color="bg-[var(--pink)]"
        title="Working hours"
        img="/png/projects/working-hours.svg"
        info="19h 9m"
      />
    </div>
    <div class='col-span-2'>
      <app-statistic/>
    </div>
  </div>

  <div class='flex items-center justify-between'>
    <h2 class='mb-4 font-medium text-2xl text-[var(--text)]'>Last tasks <span
      class='text-gray-500 text-2xl'>({{ filteredTasks.length }})</span></h2>
    <div class='flex items-center gap-4'>
      <app-filter (selectedTabChange)='changeFilter($event)'/>
      <app-sort (onSortChange)='sortChange($event)'/>
    </div>
  </div>
  <div class='grid grid-cols-3 gap-6'>
    @if (filteredTasks.length === 0) {
      <p>Not found</p>
    } @else {
      @for (task of filteredTasks; track task.id) {
        <app-last-task
          [task]='task'
          (onEdit)="showDialog($event, 'edit')"
          (onAdd)="showDialog($event, 'add')"
        />
      }
    }
  </div>
  <div>
    <app-timeline/>
  </div>
</div>

@if (visibleEditModal) {
  <app-edit-task-form
    [visible]='visibleEditModal'
    [task]='selectedTask'
    (saveTask)="updateTask($event)"
    (cancel)='visibleEditModal = false'
  />
}

@if (visibleAddModal) {
  <app-add-subtasks-form
    [visible]='visibleAddModal'
    [task]='selectedTask'
    (saveTask)="updateTask($event)"
    (cancel)='visibleAddModal = false'
  />
}
